<div id="add" tabindex="-1" role="dialog" aria-labelledby="add-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" id="add-form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="add-number" class="col-sm-2 control-label">Number</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control text-right" id="add-number" name="txtNumber" placeholder="Numeric Value" ng-model="Number" ng-change="NumberChange()" required>
                            {{CalProcess}}
                            <!--<ul ng-repeat="val in calHistry">
                                <li>{{val}}</li>
                            </ul>-->
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="Clear()">Clear</button>
                        <button type="button" class="btn btn-default" ng-click="Multiplication()">X</button>
                        <button type="button" class="btn btn-default" ng-click="Add()">+</button>
                        <button type="button" class="btn btn-default" ng-click="Add()">-</button>
                        <button type="button" class="btn btn-default" ng-click="Add()">/</button>

                        <button type="button" class="btn btn-default" ng-click="Equal()">=</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>