

<a href="AddEmployee" class="btn btn-primary btn-xs">Add New Employee</a>

<br /><br />

<div class="table-responsive">
    <div>
        Rows To Display <input type="number" step="1" ng-model="pageSize" max="10" min="1" ng-change="currentPage=0" />
    </div>
    <table id="mytable" class="table table-bordred table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Salary</th>
                <th>DOB</th>
                <!--<th>Department</th>-->
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ListOfEmployee | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td>{{item.employeeID}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.address}}</td>
                <td>{{item.salary}}</td>
                <td>{{item.dob}}</td>
                <!--<td>{{item.departmentName}}</td>-->
                <td><a class="btn btn-primary btn-xs" href="EditEmployee/{{item.employeeID}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a class="btn btn-danger btn-xs" href="DeleteEmployee/{{item.employeeID}}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        </tbody>
    </table>
     
    {{currentPage}}
    <ul class="pagination">
        <li>
            <a ng-click="setPage(0)">First</a>
        </li>
        <li>
            <a ng-disabled="currentPage == 0" ng-click="setPage(currentPage-1)">Previous</a>
        </li>
        
        <li ng-repeat="page in range(1,numberOfPages())">

            <a ng-click="setPage(page-1)">{{page}}</a>

        </li>

        <li ng-class="{disabled:currentPage >= numberOfPages()-1}">
            <a ng-click="setPage(currentPage+1)">Next</a>
        </li>
        <li ng-class="{disabled:currentPage == numberOfPages() - 1}">
            <a ng-click="setPage(numberOfPages()-1)">Last</a>
        </li>
    </ul>

    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= ListOfEmployee.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>

</div>

